<a href="https://colab.research.google.com/github/yuhchian/AutomateBoringStuffPython/blob/master/04_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AUTOMATE THE BORING STUFF WITH PYTHON 

## LISTS

In [1]:
### **RUN THIS CELL FIRST SO THAT THE example_list IS LOADED** 

example_list = ["First Item", "Second Item", "Third Item", "Last Item"]

# Recap of Python Basics

## "What are some of the most basic data types built-in within Python?"

### Values
- integers : 0, 1, 322, -27
- floats : 0.0, 1.9, -49.001
- boolean : True, False
- None (note: this is not Zero)

and also...
- strings : "a", "42", "$3.00 for two 'wugs' "

# Lists and Creating them

## How do we create a list?"

In [2]:
# arbitrarily ordered sequence of items

# You can create list by start and ending with square brackets [ ]
# and having items seperated by commas

int_list = [3, 2, 10, -9]

# Another way to create lists is to use the inbuilt list function
another_list = list()   # but you need to put in other sequences or strings

print("another_list is of the type", type(another_list))

another_list is of the type <class 'list'>

## What can be inside a list?

In [3]:
# Lists can be empty
empty_list = []

# or can contain any type of item, mixed types
string_list = ["Albert", "Charlie", "Benny"]
float_list = [1.1, 4.2, -5.9]
bool_list = [True, False, True]
mixed_list = ["one", 1.1, True, 2020]

# or can even contain list of lists of list of... ("Nested Lists")
list_list = [string_list, float_list, ["abc", [0, [5.5]]]]

# A single value in a list is not equivalent to the same single value
print("Saying [1] is equivalent to 1 is", [1] == 1 )    # you will get false

Saying [1] is equivalent to 1 is False

## "How do we know how many items there are inside a big list?"

In [4]:
# You can see how many items are inside by using the len (length) function

print("Length of list is", len(example_list))

# However, even if a list in a list contains more item, nested items don't count

nested_list = ["one", ["two-a", "two-b", "two-c"], "three"]

print("Length of nested list is", len(nested_list))

# If you definitely must count those nested items, you need to build a 
# RECURSIVE function, which is beyond the scope of this chapter

Length of list is 4
Length of nested list is 3

# Reading value of elements in a list

## "How do we access specific item or items of a list?"

Feel free to experiment by changing up the variable "n"

In [5]:
# We can get one specific value from the list by INDEXING
# i.e. putting in the index in square brackets after the list
# Index meaning whether it is the first, second or third item in the list
# However, Computer science likes counting from 0, 
# whereas mathematicians like to count from 1
# So, in Python, the index is always n-1
n = 2    # the second item
print(f"Item number {n} is", example_list[n-1])

Item number 2 is Second Item

In [6]:
# Index are always integers! All other types will cause errors.

# For the following list:
example_list = ["First Item", "Second Item", "Third Item", "Last Item"]

print(example_list[1.0])

TypeError: ignored

In [8]:
# You don't necessarily have to put the list in a variable for it to work
# You can just have the list "raw" in its square bracket form

n = 3    # the third item

print(f"Item number {n} is", \
      ["First Item", "Second Item", "Third Item", "Last Item"][n-1])

Item number 3 is Third Item

In [24]:
# You can get the n-th last item by using negative values for index
# Take note that in this case, -1 is last, -2 is second last, 
# i.e. you don't have to worry about n-1 anymore

n = -2    # the second item

print(f"Item number {-n} from the back is", example_list[n])

# The other way to do this is more troublesome

n = len(example_list)    # get the number of items in the list

print(f"Item number {-n} from the back is", example_list[n-1])

Item number 2 from the back is Last Item
Item number -4 from the back is Last Item

In [10]:
# For the following list:

example_list = ["First Item", "Second Item", "Third Item", "Last Item"]

# You can even get multiple items by SLICING
# You need to give the computer the indexes of both START and STOP points
# which you put in the square brackets, seperated by a ":" (Colon)
# let's say I want the middle two items i.e. I don"t want first and fourth items

start = 1   # index 1 means start AT the second item

stop = 3    # index 3 means stop BEFORE the fourth item

print(example_list[start:stop])

# Emphasis : the item at stop (fourth item) is excluded!

# Emphasis : stop minus start equals number of items returned

['Second Item', 'Third Item']

In [27]:
# For the following list:
example_list = ["First Item", "Second Item", "Third Item", "Last Item"]

# You can even slice and take every alternate value
# let's say I want First and Third item, i.e. take 2 steps at a time

print(example_list[0:4:2])

# You include a second ":" colon, and the third parameter is the step
# 2 will give every two items, 3 will give every three items, etc
# a negative value for step will give you items counting from the end

print(example_list[::-2])

# Note in the above example that you don't always need to put in all values 
# when slicing! the default is assumed as below if you omit them: 
# start = 0 (or number of items in list if you use negative steps)
# stop = number of items in list (or 0 if you use negative steps)
# skip = 1

print(example_list[:1:-1])

# The above way DOES NOT change example_list, it just returns you a view
# You can make a permanent change to example_list by doing it with

new_list = example_list[:]  # Note: the slice generates a new copy

# If you don't slice, they will refer to the same data in the memory
# See the part on REFERENCES in Automating the Boring Stuff

print("New list:", new_list)

new_list.reverse()

print("New list reversed", new_list)

['First Item', 'Third Item']
['Last Item', 'Second Item']
['Last Item', 'Third Item']
New list: ['First Item', 'Second Item', 'Third Item', 'Last Item']
New list reversed ['Last Item', 'Third Item', 'Second Item', 'First Item']

## Strings are kinda like lists (when indexing and slicing)

In [12]:
# You can access letters (characters) in a string in the same way as lists

word = "supercalifragilistic"

last_char = word[len(word)-1]
print(last_char)

super = word[:5]
print(super)

word_reversed = word[::-1]
print(word_reversed)

# BUT while you can change items in a list, you can't do that for strings!
# (we'll talk more about this later)

c
super
citsiligarfilacrepus

In [13]:
# However, strings are not lists, as seen below

char_list = list("string")

print("String as a string: ", "string")
print("Seperated into a list:", char_list)

# But you can join a list back into a string

print("Joining back the list into a string: ", "".join(char_list))

String as a string:  string
Seperated into a list: ['s', 't', 'r', 'i', 'n', 'g']
Joining back the list into a string:  string

## "How do we loop once through all elements of a list?"

In [14]:
# For the following list:
example_list = ["First Item", "Second Item", "Third Item", "Last Item"]

# if you want to use the items in a list one by one
# use the for loop

for item in example_list:
    print(item)

print("\n") # Line Break

# Combine with slicing if you want to select specific items in a pattern

for item in example_list[1::2]:
    print(item)

First Item
Second Item
Third Item
Last Item


Second Item
Last Item

# Adding, Removing, or Changing contents of a list?

## "How do we add or remove item or items from a list?"

In [15]:
# Changing an item by just index and assignment

example_list[0] = "First Item is Gone?"

print(example_list)

['First Item is Gone?', 'Second Item', 'Third Item', 'Last Item']

In [16]:
# Adding an item

example_list.append("Extra Item")

print(example_list)

['First Item is Gone?', 'Second Item', 'Third Item', 'Last Item', 'Extra Item']

In [17]:
# Inserting an item

example_list.insert(0, "Item before First Item")

print(example_list)

['Item before First Item', 'First Item is Gone?', 'Second Item', 'Third Item', 'Last Item', 'Extra Item']

In [18]:
# Removing an item by passing in the value of the item

example_list.append("Last Item")
example_list.append("Last Item")

print(example_list)

example_list.remove("Last Item")        

# Note! This removes only the first instance found

print(example_list)

# Running remove when the item doesn't exist raises an error

example_list.remove("Last Item")

print(example_list)

example_list.remove("Last Item")

print(example_list)

example_list.remove("Last Item")

['Item before First Item', 'First Item is Gone?', 'Second Item', 'Third Item', 'Last Item', 'Extra Item', 'Last Item', 'Last Item']
['Item before First Item', 'First Item is Gone?', 'Second Item', 'Third Item', 'Extra Item', 'Last Item', 'Last Item']
['Item before First Item', 'First Item is Gone?', 'Second Item', 'Third Item', 'Extra Item', 'Last Item']
['Item before First Item', 'First Item is Gone?', 'Second Item', 'Third Item', 'Extra Item']

ValueError: ignored

In [19]:
# Another way is to use the inbuilt delete function
# But instead of passing the value of the item to be deleted
# You pass in the index of the item to be deleted

print(example_list)

del example_list[-1]

print(example_list)

['Item before First Item', 'First Item is Gone?', 'Second Item', 'Third Item', 'Extra Item']
['Item before First Item', 'First Item is Gone?', 'Second Item', 'Third Item']

In [20]:
# You can also use pop to remove an item from a list

print(example_list)

removed_item = example_list.pop()

print(example_list)

# Difference between remove and pop is that pop by default works on
# the last item, and will return the "popped" item as outcome

print("The removed item is", removed_item)

['Item before First Item', 'First Item is Gone?', 'Second Item', 'Third Item']
['Item before First Item', 'First Item is Gone?', 'Second Item']
The removed item is Third Item

## Concatenation aka joining two lists together

In [29]:
list_one = "This is the first half".split()
list_two = "and this is the second".split()

# Python over-rided the plus operator and allowed it to link two lists

list_all = list_one + list_two
print(list_all)

# Note that this won't work if one of them isn't a list

list_one + 1

['This', 'is', 'the', 'first', 'half', 'and', 'this', 'is', 'the', 'second']

TypeError: ignored

In [30]:
# Also note that you should not use append for concatenation

# Because it would attach the WHOLE LIST AS ONE ITEM IN ITSELF

list_one = "This is the first half".split()
list_two = "and this is the second".split()

list_one.append(list_two)

print(list_one)

['This', 'is', 'the', 'first', 'half', ['and', 'this', 'is', 'the', 'second']]

# Difference between lists, sets, dictionaries, tuples

In [21]:
# Redeclare example_list so we have something fresh to work with here...

example_list = ["First Item", "Second Item", "Last Item", "Last Item"]

# One big difference is the "brackets"

print("The list uses square brackets, e.g.: ", example_list)

example_tuple = tuple(example_list)
print("The tuple uses parenthesis, e.g.: ", example_tuple)

example_set = set(example_list)
print("The set uses curly brackets, e.g.: ", example_set)

# Note that the 2 x "Last Items" became only 1. Because sets need unique values.

example_dict = dict(zip(["One","Two","Three","Four"], example_list))
print("The dict also uses curly brackets, e.g.: ", example_dict)

# Even though they both use curly brackets, dictionaries have "Key:Value" format

The list uses square brackets, e.g.:  ['First Item', 'Second Item', 'Last Item', 'Last Item']
The tuple uses parenthesis, e.g.:  ('First Item', 'Second Item', 'Last Item', 'Last Item')
The set uses curly brackets, e.g.:  {'First Item', 'Last Item', 'Second Item'}
The dict also uses curly brackets, e.g.:  {'One': 'First Item', 'Two': 'Second Item', 'Three': 'Last Item', 'Four': 'Last Item'}

## The Use Cases

As a general guide,

- TUPLE is helpful when you don't want to modify the data
- SET is helpful to track Yes/No (if a value occured or not)
- DICT is helpful to count events or when you have structured data

Because tuple is basically ordered just like lists, you can index or slice tuples. But you cannot do the same for sets or dictionaries.

In [22]:
example_set[0]

TypeError: ignored

In [23]:
print(example_dict["One"])

example_dict[1]

First Item

KeyError: ignored